body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  background: #42A8C0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.module {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.done {
  background: #4caf50;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .app {
    text-align: center;
    background: #42A8C0;
    width: 100%;
    margin: 0 0;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  .module {
    text-align: center;
    padding-top: 0em;
    padding-bottom: 0em;
  }
}
